{% extends "base.html" %}
{% load rating_helpers %}

{% block content %}
    <section class="container pt-xl-3 pt-lg-4 pt-md-3 pb-lg-5 pb-md-4 pb-3">
        <div class="tab-content mb-xl-3 py-4 bg-secondary rounded-3">
            <div class="tab-pane fade active show" id="people" role="tabpanel">
                <div class="row align-items-center pt-3 pt-sm-4 pt-md-0 px-3 px-sm-4 px-lg-0">
                    <div class="row mb-3 mt-3">
                        <form method="get">
                            <div class="row col-md-9 offset-1">
                                <div class="col-md-5 mb-4">
                                    <label class="form-label" for="name">
                                        Search
                                    </label>
                                    <div class="input-group">
                                        <input id="name" name="name" type="text" class="form-control pe-5 rounded"
                                               placeholder="Search by name..." value="{{ request.GET.name }}">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-4">
                                    <label class="form-label" for="category">Category</label>
                                    <select id="category" name="category" class="form-select">
                                        <option value="">All categories</option>
                                        {% for category in categories %}
                                            <option value="{{ category }}"
                                                    {% if category == request.GET.category %}selected=""{% endif %}>{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3 mb-4">
                                    <label class="form-label" for="city">Location</label>
                                    <select class="form-select" id="city" name="location">
                                        <option value="">All locations</option>
                                        {% for location in locations %}
                                            <option value="{{ location }}"
                                                    {% if location == request.GET.location %}selected=""{% endif %}>{{ location }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">Please provide a valid location.</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                                <div class="col-md-1 mb-4 mt-4">
                                    <button class="btn btn-primary rounded-pill" type="submit"><i class='bx bx-search-alt-2 bx-xs' style="margin-right: 5px"></i>Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <section class="container">
            <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2 mt-5">
                {% for project in project_list %}
                    <div class="col pb-3">
                        <article class="card border-0 shadow-sm h-100">
                            <div class="position-relative">
                                <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Read later" data-bs-original-title="Read later">
                                    <i class="bx bx-bookmark"></i>
                                </a>
                            </div>
                            <div class="card-body pb-4">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <span class="badge fs-sm text-nav bg-info text-decoration-none">{{ project.category }}</span>
                                </div>
                                <h3 class="card-title">
                                    <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                                </h3>
                                <p class="card-text mt-4 fs-lg">
                                    <a>{{ project.description }}</a>
                                </p>
                            </div>
                            <span class="card-body pb-2 mb-8"><hr class="mt-6 my-4 me-3 ml-5"><span class="text-primary fw-semibold pb-5 mb-7">Users in this project</span>
                                <div class="d-flex me-5 pb-3 mt-3">
                                    <div class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                                        {% for role in project.roles.all %}
                                            {% if role.user %}
                                                <div class="d-flex align-items-center justify-content-center bg-light rounded-circle{% if not forloop.first %} ms-n3{% endif %}" style="width: 52px; height: 52px;">
                                                    {% if role.user.profile.image %}
                                                        <img src="{{ role.user.profile.image.url }}" class="rounded-circle" width="48" alt="{{ role.user.get_full_name }} Avatar">
                                                    {% else %}
                                                        <img src="https://ui-avatars.com/api/?name={{ user.get_full_name }}&size=300&background=191d27&color=ffffff" alt="Profile Image" class="rounded-circle">
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </span>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}