{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page title -->
    <section class="container mt-4 pt-lg-2 pb-3">
        <h1 class="pb-3" style="max-width: 970px;">{{ project.name }}</h1>
        {% comment %}<div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
            <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
                <div class="d-flex mb-2">
                    <div class="d-flex align-items-center me-3">
                    </div>
                </div>{% endcomment %}
        </div>
        </div>
        <div class="d-flex align-items-center mt-xl-5 pt-2 pt-md-4 pt-lg-5">
            <div class="ps-1.5">
                <img src="{{ project.responsible_user.profile.image.url }}"
                     class="rounded-circle" width="60" alt="Avatar">
                <h6 class="mb-1">{{ project.responsible_user.get_full_name }}</h6>
                <a href="#"
                   class="fw-semibold stretched-link">{{ project.responsible_user }}</a>
            </div>
        </div>
        </div>
        </div>
        <a href="#"
           class="d-flex align-items-center fw-bold text-dark text-decoration-none mt-4">
    {% for role in project.roles.all %}
                    <div class="d-flex me-3">
                        <div class="d-flex align-items-center justify-content-center bg-light rounded-circle"
                             style="width: 52px; height: 52px;">
                            <img src="{{ role.user.profile.image.url }}"
                                 class="rounded-circle" width="48" alt="Avatar">
                        </div>
                    </div>

{% endfor %}
        <span class="fs-sm"><span class="text-primary fw-semibold"></span> Users in this project</span>
        </a>
    </section>

    <!-- Content -->
    <section class="container pt-2 mt-8 mt-md-4 mt-xl-5">
        <div class="row">
            <aside class="col-lg-4 col-md-2 offset-xl-3 order-md-2 mb-5">
                <div style="margin-top: -96px;"></div>
                <div class="position-sticky top-0 pt-5">
                    <div class="pt-5 mt-md-3">
                        <div class="card shadow-sm p-sm-3">
                            <div class="card-body ">
                                <h4 class="mb-4">{{ project.location }}</h4>
                                <a href="#"
                                   class=" d-flex align-items-center btn btn-primary btn-lg shadow-primary">Apply</a>
                            </div>
                        </div>
                    </div>
                    <!-- Open positions -->
                    <div class="card card-body position-relative mt-3 mb-3">
                        <div style="margin-top: 10px;"></div>
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10 rounded-3"></span>
                        <div class="position-relative zindex-2">
                            <h3 class="h5">Open positions</h3>
                            <ul class="list-unstyled mb-0">
                                {% for role in project.roles.all %}
                                    {% if not role.user %}
                                        <li class="border-bottom pb-3 mb-3">
                                            <a href="#">{{ role.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--Content-->
            <div class="col-lg-5">
                <div class="pe-lg-4 me-lg-4 pe-xl-0 me-xl-0">
                    <div class="mb-4 pb-2">
                        <h2 class="h1 mb-4">Project description</h2>
                        <p class="fs-lg mb-0">{{ project.description }}</p>
                        <!-- Tags -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related posts -->



    <section class="container mb-5 pt-md-4">
        <div class="d-flex flex-sm-row flex-column align-items-center justify-content-between mb-4 pb-1 pb-md-3">
            <h2 class="h1 mb-sm-0">Similar projects</h2>
            <a href="project_list.html" class="btn btn-lg btn-outline-primary ms-4">
                All projects
                <i class="bx bx-right-arrow-alt ms-1 me-n1 lh-1 lead"></i>
            </a>
        </div>

        <div class="swiper mx-n2 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
             data-swiper-options="{
          &quot;slidesPerView&quot;: 1,
          &quot;spaceBetween&quot;: 8,
          &quot;pagination&quot;: {
            &quot;el&quot;: &quot;.swiper-pagination&quot;,
            &quot;clickable&quot;: true
          },
          &quot;breakpoints&quot;: {
            &quot;500&quot;: {
              &quot;slidesPerView&quot;: 2
            },
            &quot;1000&quot;: {
              &quot;slidesPerView&quot;: 3
            }
          }
        }">
            <div class="swiper-wrapper" id="swiper-wrapper-8d2810103c2b901379"
                 aria-live="polite"
                 style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

                {% for project in related_projects %}
                    <div class="swiper-slide h-auto pb-3 swiper-slide-active"
                         style="width: 419.667px; margin-right: 8px;" role="group">
                        <article class="card border-0 shadow-sm h-100 mx-2">
                            <div class="position-relative">
                                <a href="{{ project.get_absolute_url }}"
                                   class="position-absolute top-0 start-0 w-100 h-100"
                                   aria-label="Read more"></a>
                                <a href="#"
                                   class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3"
                                   data-bs-toggle="tooltip" data-bs-placement="left"
                                   aria-label="Read later"
                                   data-bs-original-title="Read later">
                                    <i class="bx bx-bookmark"></i>
                                </a>
                            </div>
                            <div class="card-body pb-4">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <a href="#"
                                       class="badge fs-sm text-nav bg-secondary text-decoration-none">{{ project.category }}</a>
                                </div>
                                <h3 class="h5 mb-0">
                                    <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                                </h3>
                                <span>
                                {{ project.description|truncatechars:200 }}
                            </span>
                            </div>
                            <div class="card-footer py-4">
                                <div class="d-flex me-3">
                                    {% for role in project.roles.all %}
                                        <div class="d-flex align-items-center justify-content-center bg-light rounded-circle"
                                             style="width: 52px; height: 52px;">
                                            <img src="{{ role.user.profile.image.url }}"
                                                 class="rounded-circle" width="48"
                                                 alt="Avatar">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"
                      tabindex="0" role="button" aria-label="Go to slide 1"
                      aria-current="true"></span></div>
            <span class="swiper-notification" aria-live="assertive"
                  aria-atomic="true"></span></div>
    </section>
{% endblock %}

{% block vendor_css %}
    <link rel="stylesheet" media="screen"
          href="{% static "vendor/boxicons/css/boxicons.min.css" %}">
    <link rel="stylesheet" media="screen"
          href="{% static "vendor/swiper/swiper-bundle.min.css" %}">
{% endblock %}

{% block vendor_js %}
    <script src="{% static "vendor/bootstrap/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "vendor/smoot-scroll/smooth-scroll.polyfills.min.js" %}"></script>
    <script src="{% static "vendor/swiper/swiper-bundle.min.js" %}"></script>
{% endblock %}