{# Footer #}
{% load static %}
<footer class="footer">
    <div class="container pt-lg-4">
        <div class="row pb-5">
            <div class="col-lg-5 col-md-6">
                <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4 mt-5">
                    <img src="{% static "images/logo.png" %}" width="47" alt="Job site" style="min-width: 120px">
                </div>
                <h2>About us</h2>
                <p class="fs-sm pb-lg-2 mb-4">
                    At Colabify, we believe that collaboration is key to achieving success in any endeavor. That's why we've created a platform that brings together talented individuals and ambitious startups, making it easy for them to connect, collaborate, and achieve their goals together.
                    <br><br>
                    Whether you're an entrepreneur looking for the perfect team to bring your vision to life, or a talented professional searching for exciting new projects to work on, Colabify has everything you need to make your dreams a reality.
                    <br><br>
                    So why wait? Sign up today and start collaborating with like-minded individuals who share your passion for success!                </p>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-5 offset-md-1 pt-4 pt-md-1 pt-lg-0">
                <div id="footer-links" class="row">
                    <div class="col-lg-4 mt-5">
                        <h4 class="mb-3 mt-5">
                            Useful links
                        </h4>
                        <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                            <ul class="nav flex-column pb-lg-1 mb-lg-3">
                                <li class="nav-item"><a href="{% url "home" %}" class="nav-link d-inline-block px-0 pt-1 pb-2">Home</a></li>
                                <li class="nav-item"><a href="{% url "project_list" %}" class="nav-link d-inline-block px-0 pt-1 pb-2">Projects</a></li>
                                <li class="nav-item"><a href="{% url "user_list" %}" class="nav-link d-inline-block px-0 pt-1 pb-2">Users</a></li>
                                <li class="nav-item"><a href="{% url "faq" %}" class="nav-link d-inline-block px-0 pt-1 pb-2">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 pt-3 pt-lg-0 mt-5">
                        <h4 class="mb-3 mt-5">Contact Us</h4>
                        <a href="mailto:colabify@example.com" class="fw-medium">colabify@example.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
