{% load static %}

<nav class="header navbar navbar-expand-lg navbar-sticky {{ navbar_tag }}">
    <div class="container px-3">
        <a href="{% url "home" %}" class="navbar-brand pe-3">
            <img src="{% static "images/logo.png" %}" width="47" alt="Job site" style="min-width: 120px">
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{% url "project_list" %}" class="nav-link">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "user_list" %}" class="nav-link">Users</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "faq" %}" class="nav-link">FAQ</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a href="/admin" class="nav-link">Admin</a>
                        </li>
                    {% endif %}
                </ul>
                <hr class="px-2 d-lg-none">
                {% if user.is_authenticated %}
{#                    Put here something#}
                {% endif %}
                <hr class="px-2 d-lg-none">
                <ul class="navbar-nav d-lg-none">
                    <li class="nav-item-divider"></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <form id="logout-form" method="post" action="{% url "logout" %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link">Sign out</button>
                            </form>
                        </li>
                    {% else %}
                        {% if show_signin|default_if_none:True %}
                            <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Sign in</a></li>
                        {% endif %}
                        {% if show_signup|default_if_none:True %}
                            <li class="nav-item"><a class="nav-link" href="{% url "register" %}">Sign up</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
            {% if user.is_authenticated %}
                <li class="nav-item mr-3 pe-3 dropdown">
                    <a href="#" class="btn btn-secondary btn-sm fs-sm rounded dropdown-toggle">
                        <i class="bx bx-user fs-5 lh-1 me-n2"></i>&nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end my-1" style="width: 14rem;">
                        <li>
                            <a href="{% url "settings" %}" class="dropdown-item d-flex align-items-center">
                                <i class="bx bx-cog fs-base opacity-60 me-2"></i>
                                Settings
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <form id="logout-form" method="post" action="{% url "logout" %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item d-flex align-items-center">
                                    <i class="bx bx-log-out fs-base opacity-60 me-2"></i>
                                    Sign out
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if not user.is_authenticated %}
                {% if show_signin|default_if_none:True %}
                    <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Sign in</a></li>
                {% endif %}
                {% if show_signup|default_if_none:True %}
                    <li class="nav-item"><a class="nav-link" href="{% url "register" %}">Sign up</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>
