{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Edit profile</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-4">
            <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
            {{ form.first_name }}
          </div>

          <div class="mb-4">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
            {{ form.last_name }}
          </div>

          <div class="mb-4">
            <label for="{{ form.location.id_for_label }}" class="form-label">{{ form.location.label }}</label>
            {{ form.location }}
          </div>

          <div class="mb-4">
            <label for="{{ form.bio.id_for_label }}" class="form-label">{{ form.bio.label }}</label>
            {{ form.bio }}
          </div>

          <div class="mb-4">
            <label for="{{ form.linkedin.id_for_label }}" class="form-label">{{ form.linkedin.label }}</label>
            {{ form.linkedin }}
          </div>

          <div class="mb-4">
            <label for="{{ form.github.id_for_label }}" class="form-label">{{ form.github.label }}</label>
            {{ form.github }}
          </div>

          <div class="mb-4">
            <label for="{{ form.image.id_for_label }}" class="form-label">{{ form.image.label }}</label>
            <br>
            {{ form.image }}
          </div>


          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>

      </div>
    </div>
{% endblock %}