{% extends "base.html" %}
{% load rating_helpers %}

{% block content %}
  <section class="container mb-5">
    <div class="row">
      <div class="col-md-3">
        <img src="{{ user.profile.image.url }}" alt="Profile Image" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <h1>{{ user.get_full_name }}</h1>
        {% if user.avg_rating %}
          <p class="h3 mb-3">
            {% for i in "12345" %}
              <i class="bx {{ user.avg_rating|rating_star_class:i|get_digit:1 }} text-warning"></i>
            {% endfor %}
            ({{ user.avg_rating|floatformat:1 }})
          </p>
        {% endif %}
        <p class="fs-lg"><i class='bx bx-map' ></i> {{ user.profile.location }}</p>

        <p class="fs-lg">{{ user.profile.bio }}</p>

        {% for skill in user.skills.all %}
          <span class="badge bg-info fs-lg me-2 mb-2">{{ skill.name }}</span>
        {% endfor %}
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            {% if user.profile.linkedin_url %}
              <a href="{{ user.profile.linkedin_url }}" target="_blank" class="btn btn-secondary btn-linkedin w-100 mb-2">LinkedIn</a>
            {% endif %}
            {% if user.profile.github_url %}
              <a href="{{ user.profile.github_url }}" target="_blank" class="btn btn-secondary btn-github w-100 mb-2">GitHub</a>
            {% endif %}
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary w-100">Message</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if user.project_roles.all %}
    <section class="container">
      <h2>Projects History</h2>
      {% for role in user.project_roles.all %}
        <div class="card mb-3">
          <div class="card-header">
              <span class="card-title fs-lg">
                <strong>{{ role.name }}</strong> at
                <a href="{{ role.project.get_absolute_url }}" class="text-decoration-none"><strong>{{ role.project.name }}</strong></a>
              </span>
          </div>
          <div class="card-body">
            <span class="card-title bold">
              <strong>Role description:</strong>
            </span>
            <p class="card-text fs-lg">
              {{ role.description }}
            </p>
          </div>
          {% if role.reviews.all %}
            <div class="card-footer">
                <span class="card-title bold">
                  <strong>Reviews:</strong>
                </span>
              <p class="card-text">
                {% for review in role.reviews.all %}
                  <figure class="card h-100 position-relative border-0 bg-transparent mb-0">
                    <figcaption class="card-footer border-0 d-flex align-items-start w-100 pb-2">
                      <img src="{{ review.reviewer_role.user.profile.image.url }}" class="rounded-circle" alt="{{ review.reviewer_role.user.get_full_name }}" width="60">
                      <div class="ps-3">
                        <h6 class="fw-semibold lh-base mb-0">
                          <a href="{{ review.reviewer_role.user.get_absolute_url }}" class="text-decoration-none">{{ review.reviewer_role.user.get_full_name }}</a>
                        </h6>
                        <span class="fs-sm text-muted">{{ review.reviewer_role.name }} at {{ review.reviewer_role.project.name }}</span>
                        <p class="fs-sm mt-2">{{ review.text }}</p>
                        <div class="fs-sm text-nowrap">
                          {% for i in "12345" %}
                            {% if i|get_digit:1 <= review.rating %}
                              <i class="bx bxs-star text-warning"></i>
                            {% else %}
                              <i class="bx bx-star text-warning"></i>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                {% endfor %}
              </p>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}
